<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='styles/test.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="result">
        <div class="insideres">
            <h1> {{result}}</h1>
        </div>
    </div>

    <div class="info">
        <b>The eye is safe and shows No Symptoms of Diabetic Retinopathy</b>
        <br>
        But the patient must:
        <br>
        Make regular eye exams crucial for early detection and prevention of complications.
        <br>
        Maintaining good blood sugar control, along with a healthy lifestyle and regular medical check-ups, can significantly reduce the risk of diabetic retinopathy progression. Remember to communicate openly with your healthcare provider about your diabetes management and any concerns you may have about your eye health.
    </div>
</body>
</html>