<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='styles/test.css')}}">
    <title>Document</title>
</head>
<body>
    <!-- <div class="image"></div> -->
    <div class="result">
        <div class="insideres">
            <h1> {{result}}</h1>
        </div>
    </div>
    <div class="info">
        <b>The eye has symptoms of Diabetic Retinopathy,the patient might feel the following :</b> 
        <br>
        <br>
        <b>Blurred Vision</b>: Vision may become blurred or fluctuate, making it difficult to see clearly.
        <br>
        <br>
        <b>Floaters:</b> Tiny specks or dark spots that seem to "float" across your field of vision.
        <br>
        <br>
        <b>Impaired Color Vision:</b> Difficulty perceiving colors as vividly as before.
        <br>
        <br>
        <b>Dark or Empty Areas in Vision:</b> Dark or empty areas in your vision, indicating damage to the retina.
        <br>
        <br>
        <b>Difficulty Seeing at Night:</b> Trouble seeing well in low-light conditions.
        <br>
        <br>
        <b>Vision Changes:</b> Sudden changes in vision or the appearance of vision abnormalities.
    </div>
    
</body>
</html>