.resloss{
    padding-left: 100px;
}

.res{
    padding-left: 30px;
}

.resacc{
    padding-left: 30px;
}

.cnn{
    padding-left: 30px;
}

.cnnacc{
    padding-left: 30px;
}

.cnnloss{
    padding-left: 100px;
}